### conf.d fish files gets sourced before this file
{{ include "dot_config/fish/_include/config.fish" }}

if status is-interactive
    {{- if hasKey . "light_mode" }}
    fish_config theme choose "Catppuccin Latte"
    {{- else }}
    fish_config theme choose "Catppuccin Mocha"
    {{ end }}
end
