{{ include "dot_config/television/config.part.toml" }}

[ui]
use_nerd_font_icons = true
show_help_bar = true
{{ if hasKey . "light_mode" -}}
theme = "catppuccin-latte-green.toml"
{{ else -}}
theme = "catppuccin-mocha-green.toml"
{{ end }}

[previewers.file]
## specify same name as bat theme
{{ if hasKey . "light_mode" -}}
previewers.file.theme = "Catppuccin Latte"
{{ else -}}
previewers.file.theme = "Catppuccin Mocha"
{{ end }}

