{{ include "dot_config/ghostty/_include/config" }}

{{- if eq .chezmoi.os "darwin" }}
font-size=14

keybind=super+shift+equal=increase_font_size:1
{{- else }}
font-size=10

keybind=ctrl+shift+plus=increase_font_size:1
{{ end }}

{{ if hasKey . "lightMode" -}}
theme=Catppuccin Latte
{{ else -}}
theme=Catppuccin Mocha
{{ end }}

# optional config
config-file = ?config.local
