{{ include "dot_config/ghostty/config.part.txt" }}

### appearance
{{- if eq .chezmoi.os "darwin" }}
font-size=14
{{- else }}
font-size=10
{{ end }}

{{ if hasKey . "light_mode" -}}
theme=catppuccin-latte
{{ else -}}
theme=catppuccin-mocha
{{ end }}

### behavior
{{ if eq .chezmoi.os "darwin" }}
keybind=super+shift+equal=increase_font_size:1
{{- else }}
keybind=ctrl+shift+plus=increase_font_size:1
{{ end }}

{{ if hasKey . "ghostty_local "}}
{{ include "dot_config/ghostty/config.local.txt" -}}
{{ end }}
