
### font family
font_family      FiraCode Nerd Font Mono
bold_font        auto
italic_font      auto
bold_italic_font auto

### font size
{{- if eq .chezmoi.hostname "jill-stingray" }}
font_size 10.0
{{- else if eq .chezmoi.hostname "sei-asagiri" }}
font_size 10.0
{{- else }}
font_size 12.0
{{- end }}

disable_ligatures always

font_features none

modify_font underline_position 0
modify_font underline_thickness 100%

enable_audio_bell no

tab_bar_style powerline

tab_powerline_style slanted

tab_title_template          {title}{' :{}:'.format(num_windows) if num_windows > 1 else ''}

background_opacity 0.8

dynamic_background_opacity yes

### use 'startup_session none' to ignore this conf
{{- if eq .chezmoi.os "darwin" }}
startup_session ~/.config/kitty/launch.conf
{{- else }}
startup_session none
{{- end }}

macos_option_as_alt yes

# BEGIN_KITTY_THEME
# Catppuccin Kitty Mocha
include current-theme.conf
# END_KITTY_THEME