//? example config (file): https://raw.githubusercontent.com/zellij-org/zellij/refs/heads/main/example/config.kdl
//  this config system is quite frustrating, so we'll mostly roll the defaults
keybinds {
    shared_except "locked" {
        bind "Alt c" { NewPane; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt /" "Ctrl /" { ToggleFloatingPanes; }
        bind "Ctrl alt q" { Quit; }
    }
    session {
        bind "Ctrl q" { SwitchToMode "Normal"; }
    }
    move {
        bind "Ctrl m" { SwitchToMode "normal"; }
        unbind "Ctrl h"
    }
    shared_except "locked" "session" {
        bind "Ctrl q" { SwitchToMode "session"; }
        bind "Ctrl q" { SwitchToMode "session"; }
        unbind "Ctrl o"
    }
    shared_except "locked" "scroll" "search" {
        bind "Ctrl y" { SwitchToMode "scroll"; }
        unbind "Ctrl s"
    }
    shared_except "locked" "move" {
        bind "Ctrl m" { SwitchToMode "move"; }
        unbind "Ctrl h"
    }
    shared_among "scroll" "search" {
        bind "Ctrl y" { SwitchToMode "normal"; }
        unbind "Ctrl s"
    }
}

plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

load_plugins {
}

themes {
  catppuccin-latte-mine {
    bg "#acb0be" // Surface2
    fg "#4c4f69" // Text
    red "#e6e9ef" // (Mantle)
    green "#40a02b" // Green
    blue "#1e66f5" // Blue
    yellow "#df8e1d" // Yellow
    magenta "#ea76cb" // Pink
    orange "#fe640b" // Peach
    cyan "#04a5e5" // Sky
    black "#e6e9ef" // Mantle
    white "#4c4f69" // Text
  }
  catppuccin-mocha-mine {
    bg "#585b70" // Surface2
    fg "#cdd6f4" // Text
    red "#181825" // (Mantle) ; ctrl + 'label'
    green "#a6e3a1" // Green
    blue "#89b4fa" // Blue
    yellow "#f9e2af" // Yellow
    magenta "#f5c2e7" // Pink
    orange "#fab387" // Peach ; the 'Alt' + key color ; also pane select color
    cyan "#89dceb" // Sky
    black "#181825" // Mantle
    white "#cdd6f4" // Text
  }
}

{{ if hasKey . "light_mode" -}}
theme "catppuccin-latte-mine"
{{ else -}}
theme "catppuccin-mocha-mine"
{{ end }}
 
show_startup_tips false
