### === GLOBAL ===
DOCKER_PERSIST="/home/archoo/dock"

### === TODO ===
### How to claim your plex server: https://support.plex.tv/articles/200289496-general/
PLEX_CLAIM=claim-HASH

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
# e.g. bash -c 'PASSWORD=$(< /dev/urandom tr -dc 'A-Za-z0-9' | head -c 16); echo $PASSWORD'
IMMICH_DB_PASSWORD=postgres

SEAFILE_DB_PASSWORD=db_dev
SEAFILE_ADMIN_EMAIL=me@example.com
SEAFILE_ADMIN_PASSWORD=asecret
SEAFILE_SERVER_LETSENCRYPT=false
SEAFILE_SERVER_HOSTNAME=docs.seafile.com ### relevant if https is enabled

### generate keys with 'openssl rand -base64 36'
HOARDER_NEXTAUTH_SECRET=HASH_A
HOARDER_MEILI_MASTER_KEY=HASH_B
### nextauth points you back to server home on signout
HOARDER_NEXTAUTH_URL=http://localhost:8972


### === IMMICH ===

### You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# PLEX_TZ=Etc/UTC

# The Immich version to use. You can pin this to a specific version like "v1.71.0" 
### https://github.com/immich-app/immich/pkgs/container/immich-server
IMMICH_VERSION="v1.125.7"


# The values below this line do not need to be changed
###################################################################################
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich

### === HOARDER ===

### https://github.com/hoarder-app/hoarder/pkgs/container/hoarder
HOARDER_VERSION=0.22.0

### optional OpenAPI key
# OPENAI_API_KEY=<key>

HOARDER_PORT=8972
IMMICH_PORT=2283
MEMOS_PORT=5230
SILVERBULLET_PORT=3001
GITEA_PORT=3005
GITEA_SSH_PORT=2222
PORTAINER_PORT=9443
### https://github.com/portainer/portainer-docs/issues/91
PORTAINER_TUNNEL_PORT=8000
SEAFILE_PORT=8881
SWS_PORT=8787
### Plex is implied 32400, probably implied by 'host' mode