{{- include "dot_config/lazygit/incl/config.part.yml" -}}

{{- if hasKey . "light_mode" -}}
  {{- include "dot_config/lazygit/incl/latte.part.yml" -}}
{{- else -}}
  {{- include "dot_config/lazygit/incl/mocha.part.yml" -}}
{{- end -}}
