{{ include "dot_config/helix/config.part.toml" }}

### space bar menu commands
[keys.normal."space"]
"%" = "select_all" # select entire file like helix default behavior
"J" = "join_selections_space" # alt-J conflicts with zellij, or doesn't work with ghostty

## slight config difference between helix <= v25.01.1 vs HEAD
#? https://yazi-rs.github.io/docs/tips/#helix-with-zellij
{{ if hasKey . "helix_head" }}
e = [
  ":sh rm -f /tmp/unique-file-h21a434",
  ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
  ":insert-output echo \"x1b[?1049h\" > /dev/tty",
  ":open %sh{cat /tmp/unique-file-h21a434}",
  ":redraw",
  ":set mouse false",
  ":set mouse true",
]
# workspace_directory will be available with this PR
# https://github.com/helix-editor/helix/pull/13068
# E = [
#   ":sh rm -f /tmp/unique-file-u41ae14",
#   ":insert-output yazi '%{workspace_directory}' --chooser-file=/tmp/unique-file-u41ae14",
#   ":insert-output echo \"x1b[?1049h\" > /dev/tty",
#   ":open %sh{cat /tmp/unique-file-u41ae14}",
#   ":redraw",
#   ":set mouse false",
#   ":set mouse true",
# ]
{{ else }}
e = ":sh zellij run -n Yazi -c -f -x 10%% -y 10%% --width 80%% --height 80%% -- bash ~/.config/helix/yazi-picker.sh open ."
{{ end }}
