{{ include "dot_config/helix/_language/general.toml" }}
{{ include "dot_config/helix/_language/tools.toml" }}
{{ include "dot_config/helix/_language/go.toml" }}
{{ include "dot_config/helix/_language/php.toml" }}
