[Preprocesses]
disable_sentry     = 1
disable_ui_logging = 1
remove_rtl_rule    = 1
expose_apis        = 1

[AdditionalOptions]
home_config           = 1
experimental_features = 1
extensions            =
custom_apps           =
sidebar_config        = 1

[Patch]

[Setting]
{{- if eq .chezmoi.hostname "stella-hoshii" }}
spotify_path           = /Applications/Spotify.app/Contents/Resources
prefs_path             = /Users/archoo/Library/Application Support/Spotify/prefs
{{- else }}
{{- end }}
; Dribblish
; Enable: inject_css, replace_colors, overwrite_assets, inject_theme_js
current_theme          = Dribbblish
replace_colors         = 1
always_enable_devtools = 0
color_scheme           = catppuccin-mocha
inject_theme_js        = 1
inject_css             = 1
overwrite_assets       = 1
spotify_launch_flags   =
check_spicetify_update = 1

; DO NOT CHANGE!
[Backup]
version =
with    =
