layout {
     default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="horizontal" {
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="toy" focus=true {
        pane name="hello" focus=true
    }

    tab name="nix-darwin" cwd="~/.config/nix/" {
        pane name="cli"
        pane name="nix-darwin build" {
            command "darwin-rebuild"
            args "build" "--flake" "."
            start_suspended true
        }
        pane name="nix-darwin test (sudo)" {
            command "sudo"
            args "darwin-rebuild" "test" "--flake" "."
            start_suspended true
        }
        pane name="home-manager build" {
            command "home-manager"
            args "build" "--flake" "."
            start_suspended true
        }
        pane name="home-manager switch" {
            command "home-manager"
            args "switch" "--flake" "."
            start_suspended true
        }
        pane name="launch vscode" size="10%" {
            command "code"
            args ""
            start_suspended true
        }
    }

    tab name=".config" cwd="~/.config" {
        pane name="cli"
    }
}
