default_shell "fish"

ui {
  pane_frames {
    rounded_corners true
  }
}

layout {
  // Preamble
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  // Tab 'toy'
  tab name="toy" focus=true {
    pane
  }

  // Tab 'chezmoi'
  tab name="chezmoi" cwd="~/.local/share/chezmoi" {
    pane name="config" {
      command "nvim"
      start_suspended true
    }
  }

  // Tab 'nvim-flake'
  tab name="nvim-flake" cwd="~/gits/dom1153/nvim-flake" {
    // use zellij toggle float terminal
    pane split_direction="vertical" {
      pane name="nvim" focus=true {
        command "nvim"
        start_suspended true
      }

      pane size="40%" {
        pane name="watch run (make wrun)" {
          command "make"
          args "wrun"
          start_suspended true
        }
        pane size="20%" name="watch build (make wbuild)" {
          command "make"
          args "wbuild"
          start_suspended true
        }
      }
    }
  }

  tab name="obsidian" cwd="~/Documents/Obsidian/Brain2/" {
    pane name="nvim" {
      command "nvim"
      start_suspended true
    }
  }

}
