default_shell "fish"

ui {
  pane_frames {
    rounded_corners true
  }
}

layout {
  // Preamble
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  // Tab 'toy'
  tab name="toy" focus=true {
    pane
  }

  // Tab 'chezmoi'
  tab name="chezmoi" cwd="~/.local/share/chezmoi" {
    pane name="config" {
      command "nvim"
      start_suspended true
    }

    pane name="git/nix rebuild" size="20%"
  }

  tab name="nvim-flake" {
    pane split_direction="vertical" {
      pane name="nvim-flake" focus=true {
        cwd "~/gits/dom1153/nvim-flake"
        command "nvim"
        start_suspended true
      }
      pane name="watch run" {
        cwd "~/gits/dom1153/nvim-flake"
        command "make"
        args "wrun"
        start_suspended true
      }
    }

    // chezmoi home can always be accessed via toggleterm nvim
    // launch nvim exe from make run (or future plugin task)

    pane size="20%" split_direction="vertical" {
      pane name="dothome cli" cwd="~/gits/dom1153/nvim-flake"
      pane name="watch build" cwd="~/gits/dom1153/nvim-flake" {
        command "make"
        args "wbuild"
        start_suspended true
      }
      pane name="tail" {
        cwd "~/gits/dom1153/nvim-flake"
        command "./scripts/tail.sh"
      }
    }
  }

}
