default_shell "fish"

ui {
    pane_frames {
        rounded_corners true
    }
}

layout {
     default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="toy" focus=true {
        pane name="shell" focus=true
    }

    tab name="nix" cwd="~/.config/nix/" {
        pane name="cli (nr)"
    }

    tab name="chezmoi" cwd="~/.local/share/chezmoi" {
        pane name="nvim" {
            command "nvim"
            // start_suspended true
        }
    }

    tab name="nixvim" cwd="~/.config/nix/home/editors/nixvim" {
        pane name="nvim" {
            command "nvim"
            // start_suspended true
        }
        pane name="nvim" {
            command "nix"
            args "run"
            start_suspended true
        }
    }
}
