{{- if eq .chezmoi.hostname "artpro" }}

# Font configuration
font:
  # Normal (roman) font face
  normal:
    family: "Dina"

  # Bold font face
  bold:
    family: "Dina"

  # Italic font face
  italic:
    family: "Dina"

  # Bold italic font face
  bold_italic:
    family: "Dina"

  # Point size
  size: 10
{{- end }}
