{{- $btop := "" -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $btop = "/home/linuxbrew/.linuxbrew/bin/btop" -}}
{{- else -}}
  {{- $btop = "/opt/homebrew/bin/btop" -}}
{{- end -}}

{{- if (stat $btop) -}}
  {{- $original := output $btop "--default-config" -}}
  {{- $original -}}

  {{ if hasKey . "light_mode" }}
color_theme = "catppuccin_latte.theme"
  {{ else }}
color_theme = "catppuccin_mocha.theme"
  {{ end }}
theme_background = false
{{- end -}}
