{{ if hasKey . "light_mode" -}}
palette = "catppuccin_latte"
{{ else -}}
palette = "catppuccin_mocha"
{{- end }}

{{ include "dot_config/starship/starship.toml" }}

# palette tables should be last in the config ⚓️
{{ if hasKey . "light_mode" -}}
{{ include "dot_config/starship/latte.toml" }}
{{ else -}}
{{ include "dot_config/starship/mocha.toml" }}
{{- end -}}
