{{ include "dot_config/starship/_include/starship.toml" }}

{{/* palette tables should be last in the config ⚓️ */}}
{{ if hasKey . "lightMode" -}}
palette = "catppuccin_latte"
{{ include "dot_config/starship/_include/latte.toml" }}
{{ else -}}
palette = "catppuccin_mocha"
{{ include "dot_config/starship/_include/mocha.toml" }}
{{- end -}}
